/* Projects styles */

@media print {
    .on_print { display: block;}
    .no_print{ display: none;}
}
@media screen {
    .on_print{ display: none; }
    .no_print{ display: block;}
}

.title {
    /* height: auto; */
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #253C4F;
    /* padding: 2.3rem 1rem 2.3rem 1rem; */
    position: relative;
    margin: 0 0 30px 0;
}

.Projects {
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 2em 0 0 0;
    width: 90%;
    text-align: center;   
}

.p_squeeze {
    margin-bottom: 0.1em ;
    margin-top: 0.1em;
}

.project_display {
    width: 20em;
    height: 21.5em;
    position: relative;
    display: inline-flex;
    margin: 2%;
}

.project_alert {
    background-color: #B5E4EB;
    width: 20em;
    height: 21.5em;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease;
}
.project_alert:hover {
    opacity: 0.9;
}
.project_status {
    margin: 1em 0;
}
.project_status_icon_neg {
    color: tomato;
    text-align: center;
    justify-content: center;
    font-size: 10em;
}
.project_status_icon_pos {
    color: #074B54;
    text-align: center;
    justify-content: center;
    font-size: 10em;
}
.project_status_text {
    margin: auto;
    width: 70%;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.project_content {
    padding: 0.5em;
    color: #253C4F;
}

.project_title {
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    color: #253C4F;
    position: relative;
    margin: 0 0 1em 0;
}
.title_link:link, .title_link:visited {
    text-decoration: none;
    color: #253C4F;
}

.project_photo {
    width: 19em;
}


.description {
    font-size: small;
    text-align: center;
    justify-content: center;
}


