/* SkillBar styles */
.progLan {
    height: 30px;
    margin: 4px auto;
}

.progLanName {
    width: 80px;
    display: inline-block;
    margin: auto;
    background-color: #FFBBAF;
    line-height: 30px;
}

.progLanBar{
    height: 100%;
    max-width: 280px;
    width: 40vw;
    margin: 0 auto;
    background-color: #B5E4EB;
    display: inline-block;
  }
  
.bar{
    line-height: 30px;
    font-size: 16px;
    color: white;
    position: relative;
    background-color: tomato;
    transition: width 1.5s ease;
}