
/* @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);

.container {
  background-color: tomato;
  /* max-width: 980px;*/
  width: 100%;
  /* padding: 15px; */
  margin: 0 auto;
}

/*
#074B54
#FF6447
#2d3235
#08535E
#03A9F4
*/