/* Menu styles */
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700);

.menu {
  height: 5vw;
  width: 5vw;
  right: 5vw;
  top: 2vw;
  text-align: center;
  position: fixed;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 999;
}
.menuactive {
  height: 5vw;
  right: 5vw;
  top: 2vw;
  text-align: center;
  position: fixed;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 999;
  width: calc(100% - 10vw);
}
.menuactive span i:nth-child(1) {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 50%;
}
.menuactive span i:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}
.menuactive span i:nth-child(3) {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 50%;
}
.menu span {
  width: 5vw;
  height: 5vw;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 1;
}
.menuactive span {
  width: 5vw;
  height: 5vw;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 1;
}
.menu span i {
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ccc;
  transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}
.menuactive span i {
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ccc;
  transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}
.menu span i:nth-child(1) {
  top: 40%;
}
.menu span i:nth-child(2) {
  top: 50%;
}
.menu span i:nth-child(3) {
  top: 60%;
}
.menuContent {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 5vw;
  right: 0px;
  left: 0px;
  text-align: center;
  
}
.menuactive .menuContent * {
  opacity: 1;
}
.menuContent * {
  opacity: 0;
}
.menuContent ul {
  width: 100%;
  line-height: unset;
  padding: 0 20vw 0 0;
}
.menuContent ul li {
  display: inline-block;
  margin-left: 10%;
  margin-right: 0%;
  color: #2d3235;
  transition: opacity 0.3s ease 0.3s;
  cursor: pointer;
  position: relative;
  font-size: 100%; 
}
.menuContent ul li a {
  text-decoration: none;
  color: #2d3235;
}
.menuContent ul li:hover:before {
  opacity: 0.8;
  top: 13px;
  left: 20px;
}
.menuContent ul li:hover:after {
  opacity: 0.8;
  bottom: 13px;
  left: -20px;
}
.menuContent ul li:before, .menuContent ul li:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #ccc;
  transition: all 0.3s ease;
}
.menuContent ul li:before {
  transform: rotate(-55deg);
  left: 60px;
  top: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}
.menuContent ul li:after {
  transform: rotate(-55deg);
  left: -60px;
  bottom: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}

/*
.menu {
  height: 10vw;
  width: 10vw;
  right: 10vw;
  top: 2vw;
  text-align: center;
  position: absolute;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 999;
}
.menuactive {
  height: 70px;
  right: 70px;
  top: 20px;
  text-align: center;
  position: absolute;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 999;
  width: calc(100% - 140px);
}
.menuactive span i:nth-child(1) {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 50%;
}
.menuactive span i:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}
.menuactive span i:nth-child(3) {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 50%;
}
.menu span {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 1;
}
.menuactive span {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 1;
}
.menu span i {
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ccc;
  transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}
.menuactive span i {
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ccc;
  transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}
.menu span i:nth-child(1) {
  top: 40%;
}
.menu span i:nth-child(2) {
  top: 50%;
}
.menu span i:nth-child(3) {
  top: 60%;
}
.menuContent {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 70px;
  right: 0px;
  text-align: center;
}
.menuactive .menuContent * {
  opacity: 1;
}
.menuContent * {
  opacity: 0;
}
.menuContent ul {
  line-height: unset;
}
.menuContent ul li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  color: #2d3235;
  transition: opacity 0.3s ease 0.3s;
  cursor: pointer;
  position: relative;
  font-size: 3vw;
}
.menuContent ul li:hover:before {
  opacity: 0.8;
  top: 13px;
  left: 20px;
}
.menuContent ul li:hover:after {
  opacity: 0.8;
  bottom: 13px;
  left: -20px;
}
.menuContent ul li:before, .menuContent ul li:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #ccc;
  transition: all 0.3s ease;
}
.menuContent ul li:before {
  transform: rotate(-55deg);
  left: 60px;
  top: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}
.menuContent ul li:after {
  transform: rotate(-55deg);
  left: -60px;
  bottom: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}


/*
.menu {
  height: 70px;
  width: 70px;
  right: 70px;
  top: 20px;
  text-align: center;
  position: absolute;
  background: #fff;
  overflow: hidden;
  transition: all .2s ease;
  z-index: 999;
}
.menuactive {
  height: 70px;
  width: 70px;
  right: 70px;
  top: 20px;
  text-align: center;
  position: absolute;
  background: #fff;
  overflow: hidden;
  transition: all .2s ease;
  z-index: 999;
}
.menuactive {
  width: calc(100% - 140px);
}
.menuactive .menuContent * {
  opacity: 1;
}
.menuactive span i:nth-child(1) {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 50%;
}
.menuactive span i:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}
.menuactive span i:nth-child(3) {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 50%;
}

.menu span {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 1;
}
.menu span i {
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #cccccc;
  transition: transform .3s ease, opacity .1s ease .1s;
}
.menu span i:nth-child(1) {
  top: 40%;
}
.menu span i:nth-child(2) {
  top: 50%;
}
.menu span i:nth-child(3) {
  top: 60%;
}
.menu .menuContent {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 70px;
  right: 0px;
  text-align: center;
}
.menu .menuContent * {
  opacity: 0;
}

.menuactive span {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fff;
  z-index: 1;
}
.menuactive span i {
  position: absolute;
  transform-origin: 50% 50%;
  width: 45%;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #cccccc;
  transition: transform .3s ease, opacity .1s ease .1s;
}
.menuactive span i:nth-child(1) {
  top: 40%;
}
.menuactive span i:nth-child(2) {
  top: 50%;
}
.menuactive span i:nth-child(3) {
  top: 60%;
}
.menuactive .menuContent {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 70px;
  right: 0px;
  text-align: center;
}
.menuactive .menuContent * {
  opacity: 0;
}
.menuactive .menuContent ul li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  color: #2d3235;
  transition: opacity .3s ease .3s;
  cursor: pointer;
  position: relative;
}
.menuactive .menuContent ul li:hover:before {
  opacity: .8;
  top: 13px;
  left: 20px;
}
.menuactive .menuContent ul li:hover:after {
  opacity: .8;
  bottom: 13px;
  left: -20px;
}
.menuactive .menuContent ul li:before, .menuactive .menuContent ul li:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #cccccc;
  transition: all .3s ease;
}
.menuactive .menuContent ul li:before {
  transform: rotate(-55deg);
  left: 60px;
  top: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}
.menuactive .menuContent ul li:after {
  transform: rotate(-55deg);
  left: -60px;
  bottom: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}
/*
.sectionHeroImg {
  width: 100%;
  height: 100vh;
  background-image: url(http://artplague.dk/_assets/JWSB3QDJEW.jpg);
  background-position: center center;
  background-size: cover;
}
.sectionHeroImg h1 {
  font-weight: 700;
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sectionHeroImg h1 span {
  font-weight: 300;
}
.sectionHeroImg h1 span p {
  font-size: 12px;
  text-transform: capitalize;
}
*/