import React from 'react';
import PropTypes from 'prop-types';

// Import Style
import styles from './<%= helpers.capitalize(name) %>.css';

function <%= helpers.capitalize(name) %>(props, context) {
  return (
    <div>
        
    </div>
  );
}

<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;
